body {
    margin: 0;
    height: 100vh;
    scroll-behavior: smooth;
    background-image: url(./img/pokedex-wallpaper.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Comic Neue';
}

.prevent-scrolling {
    overflow: hidden;
}

.arrow {
    cursor: pointer;
}

.search_names {
    display: flex;
    justify-content: center;
    margin: 32px;
}

.search_field {
    height: 20px;
    width: 150px;
    border-radius: 10px;
    padding-left: 70px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
}

.search_field:focus {
    padding-left: 32px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 140px;
    height: 20px;
    font-size: 16px;
    outline: none;
}

.search_field::placeholder {
    font-size: 16px;
    font-style: italic;
}

.search_icon {
    position: relative;
    height: 20px;
    top: 10px;
    left: 85px;
    z-index: 1;
    cursor: pointer;
}

.search_icon:hover {
    transform: scale(1.2);
}

.arrow-fixed-left {
    margin-bottom: 16px;
    cursor: pointer;
    z-index: 1;
}

.arrow-fixed-right {
    margin-bottom: 16px;
    cursor: pointer;
    z-index: 1;
}

.page {
    display: flex;
    justify-content: center;
}

.arrow-nav-start {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    margin-left: 32px;
    margin-bottom: 16px;
    margin-top: -32px;
}

.arrow-nav-end {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.gallery {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 16px;
}

.gallery_btn {
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokeball-container {
    margin: 24px;
    cursor: pointer;
}

.pokeball-container:hover {
    transform: scale(1.2);
}

.gallery_btn:hover {
    transform: scale(1.2);
}

.removeHover {
    pointer-events: none;
}

.poke_pic {
    width: 120px;
    height: 120px;
    margin-left: 32px;
}

.element {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    margin-left: 48px;
    margin-right: 48px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

@media(max-width: 450px) {

    .arrow-fixed-left {
        position: fixed;
        right: 0;
        top: 30%;
        margin-right: 32px;
        margin-bottom: unset;
        opacity: 0.3;
    }

    .arrow-fixed-right {
        position: fixed;
        right: 0;
        top: 40%;
        margin-right: 32px;
        margin-bottom: unset;
        opacity: 0.3;
    }

}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgreen;
}